body{
    background-color: antiquewhite;
}

.titulo{
    text-align: center;
    color: black;
    border: 6px solid aquamarine;
    background-color: white;
    font-size: 5vh;
    border-radius: 30px;
}

.desc{
    text-align: center;
    color: black;
    border: 6px solid aquamarine;
    background-color: white;
    font-size: 3vh;
    border-radius: 30px;
}

.construcao{
    border: 6px solid aquamarine;
    background-color: white;
    text-align: center;
    width: 100%;
    
}

a:link{

    text-decoration: none;
}



